body {
	//padding: 20px;
    margin: auto;
    width: 1200px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#timeline {
    text {
        font-size: 14px;
    }

    rect.pane {
    	cursor: move;
    	fill: none;
    	pointer-events: all;
    }

    .x.axis {
        &.timeYear {
            text {
                font-size: 11px;
                font-weight: bold;
            }
            line {
            	opacity: 0.5;
            }
        }
        &.timeMonth {
            text {
                font-size: 12px;
            }
            line {
            	opacity: 0.3;
            }
        }
    }

    .y.grid {
        opacity: 0.1;
    }

    g.daily circle {
        opacity: 0.2;
        fill: black;
        r: 2;
    }

    .eventFocused {
        line {
            stroke: black;
            opacity: 0.8;
            stroke-width: 1.4;
            &.mean {
                stroke-dasharray: 10, 10;
                opacity: 0.6;
            }
        }
        text {
            font-size: 12px;
        }
        .date {
            font-weight: bold;
        }
    }

    .approx {
        line.down {
            stroke-dasharray: 10, 10;
            stroke: red;
            opacity: 0.5;
            stroke-width: 1;
        }

        line.handle {
            stroke: red;
            opacity: 0.8;
            stroke-width: 8;

            &.start {
                cursor: col-resize;
            }
        }
    }

    path.lined {
        opacity: 0.3;
        stroke: green;
        stroke-width: 1;
    }
    path.line {
        opacity: 1;
        stroke: blue;
        stroke-width: 1;
    }
}


#context {
    position: relative;
    float: right;
    width: 500px;

    rect.selection {
        fill-opacity: 0.08;
        fill: blue;
    }

    .x2.axis line {
    	stroke: black;
    	opacity: 0.2;
    }

    .x2.axis path {
        stroke: black;
        opacity: 0.1;
    }

    path.line {
        fill: none;
        stroke: blue;
        stroke-width: 1;
    }
}
