body {
	//padding: 20px;
    margin: 40px auto;
    width: 1200px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

path {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

line {
    stroke-width: 1;
}

#controls {
    position: relative;
}

#buttons {
    float: right;
    width: 100px;
}

#context {
    float: right;
    width: 500px;
}

#timeline {
    rect.pane {
    	cursor: move;
    	fill: none;
    	pointer-events: all;
    }

    .x.axis {
        &.timeYear {
            text {
                font-size: 10px;
                font-weight: bold;
            }
            line {
            	opacity: 0.5;
            }
        }
        &.timeMonth {
            text {
                font-size: 11px;
            }
            line {
            	opacity: 0.3;
            }
        }
    }

    .y.grid {
        opacity: 0.1;
    }

    .dayFocused {
        line {
            stroke: black;
            opacity: 0.8;
            stroke-width: 1.4;
            &.mean,
            &.down {
                stroke-dasharray: 10, 8;
                opacity: 0.6;
                stroke-width: 0.5;
            }
        }
        text {
            font-size: 12px;
            text-anchor: middle;
            &.first {

            }
            &.second {
                fill: red;
            }
        }
        .date {
            font-weight: bold;
        }
    }

    .approx {
        line {
            &.down {
                stroke-dasharray: 10, 8;
                stroke: red;
                opacity: 0.5;
                stroke-width: 1;
            }
            &.handle {
                stroke: red;
                opacity: 0.8;
                stroke-width: 3;

                &.start {
                    cursor: col-resize;
                    stroke-width: 7;
                }
            }
        }
    }

    .lines {
        .line-day {
            opacity: 0.2;
            stroke: green;
        }
        .line-mean {
            stroke: blue;
        }
        .line-mean-f {
            stroke: red;
            stroke-width: 1.5;
        }
        .points-day circle {
            opacity: 0.1;
            fill: green;
            r: 2;
        }
    }
}

#context {
    rect.selection {
        fill-opacity: 0.08;
        fill: blue;
    }

    .x2.axis {
        line {
        	stroke: black;
        	opacity: 0.2;
        }
        path {
            stroke: black;
            opacity: 0.1;
        }
    }

    path.line {
        stroke: blue;
        stroke-width: 1;
    }
}
